# ___

# [ Machine Learning in Geosciences ]

**Department of Applied Geoinformatics and Carthography, Charles University** 

*Lukas Brodsky lukas.brodsky@natur.cuni.cz*


___

# Python3 Crash Course  

*Please note, this is not meant to be a comprehensive overview of Python or programming in general. 
This notebook is just hands-on to review basic topics of Python 3 scripting.*

**Table of Contents**
1. *Python language* 
2. *Data types*
    * Numbers
    * Strings
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
3. *Comparison Operators* 
4. *Control Flow Statements* 
    * if, elif, else Conditionals 
    * for Loops
    * range()
    * list comprehension
    * while Loops 
5. *Functions* 
6. *Lambda expressions* 
7. *Methods* 

Suggested reading: 
    **Programming in Python 3** A Complete Introduction to the Python Language, *Mark Summerfield* & 
    **Think Python**: How to Think Like a Computer Scientist Allen B. Downey: https://greenteapress.com/wp/think-python/ 

____

# Python language


* 'Python is probably the **easiest-to-learn** and nicest-to-use programming language in widespread use.'
* 'Python is a very **expressive language**, which means that we can usually write far fewer lines of Python code than would be required for an equivalent application written in, say, C++ or Java.'
* 'Python is a **cross-platform** language'
* 'One of Python’s great strengths is that it comes with a very complete **standard library**'
* 'And in addition to the standard library, thousands of third party libraries are available (**NumPy, Pandas, Scikit-learn**, etc. -- the so-called Python Scientific Stack --)'
* 'Most of the third-party libraries are available from the Python Index Package (**PIP**)' 
* 'Python can be used to program in **procedural, object-oriented**, and to a lesser extent, in functional style, although at heart Python is an object-oriented language'


Use internet to search for Python examples, e.g. Python list comprehension

Running Python in: 
* terminal / cmd as interactive language (e.g. _> python3)
* terminal via saved script (e.g. _> python3 myscript.py)
* use IDE (PyCharm, IDLE, Spyder, etc.)
* use scientific notebooks in web browser (this one).

### Python indentation

Python uses indentation to signify its block structure.
The Python style guidelines (PEP-8) recommends **four spaces** per level of indentation, and only spaces (no tabs).

Spirit of Python

# Data types

One fundamental thing that any programming language must be able to do is represent items of data.

### Numbers

Integers (positive and negative whole numbers) using the *int type*

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2.

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

In [8]:
5 // 3

1

### Variable Assignment

'Once we have some data types, the next thing we need are variables in which to store them. **Python doesn’t have variables as such**, but instead has object references.'

In [9]:
# Can not start with number or special characters
name_of_var = 2
# nameOfVar

In [12]:
print(name_of_var)

2

In [13]:
x = 2
y = 3

In [14]:
z = x + y

In [15]:
z

5

See Figure in Summerfield, 2009: Object references and objects (Summerfield, 2009)

Python uses dynamic typing, which means that an object reference can be rebound to refer to a different object (which may be of a different data type) at any time.

In [18]:
x = int(0.5)
print(x)

0

### Strings

Strings (sequences of Unicode characters) using the *str type*

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [12]:
"wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

Please note, since Python 3 it is required to **use brackets** for printing paramteres.

In [19]:
x = 'hello'

In [20]:
x

'hello'

In [21]:
print(x)

hello

In [22]:
num = 12
name = 'John'

In [23]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: John

In [19]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: John

### Booleans

Binary states 0 / 1 or T / F.

In [ ]:
True

In [ ]:
False

In [24]:
a = True
print(a)

True

## Python Collection Data Types

It is often convenient to hold entire **collections of data items**. Python provides several collection data types that can hold items, including associative arrays and sets. These can be: list, tuple, dictionary.
Python tuples and lists can be used to hold any number of data items of any data types. Tuples are immutable, so once they are created we cannot change them. Lists are mutable, so we can easily insert items and remove items whenever we want.

Python’s built-in collection data types—tuples, lists, sets, and dictionaries—are sufficient in themselves for all purposes.

### Lists
To create a list it is to use square brackets **[...]**. Lists and tuples don’t store data items at all, but rather object references. 
Like everything else in Python, collection data types are objects, so we can nest collection data types inside other collection data types, for example, to create lists of lists, without formality.

In [25]:
[1,2,3]

[1, 2, 3]

In [26]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [27]:
my_list = ['a','b','c']

In [28]:
my_list

['a', 'b', 'c']

In [29]:
my_list.append('d')

In [30]:
len(my_list)

4

In [31]:
my_list

['a', 'b', 'c', 'd']

In [32]:
# slicing 
my_list[0]

'a'

In [33]:
my_list[1]

'b'

In [34]:
my_list[1:]

['b', 'c', 'd']

In [36]:
my_list[:1]

['a']

In [37]:
my_list[-1]

'd'

In [38]:
my_list[0] = 'NEW'

In [39]:
my_list

['NEW', 'b', 'c', 'd']

In [46]:
nest = [1,2,3,[4,5,['target']]]

In [42]:
nest[1]

2

In [48]:
nest[3][0]

4

In [49]:
nest[3][2][0]

'target'

### Tuples 
Python outputs a tuple it encloses it in parentheses **(...)**. Many programmers emulate this and always enclose the tuple literals they write in parentheses.

In [51]:
t = (1,2,3)

In [52]:
t

(1, 2, 3)

In [53]:
u = 4, 5, 6

In [41]:
u

(4, 5, 6)

In [54]:
t[0]

1

In [55]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Dictionaries

A *mapping type* is one that supports the membership operator (**in**) and the 3.x size function (**len()**), and is iterable. Mappings are collections of key–value items and provide methods for accessing items and their keys and values. When iterated, unordered mapping types provide their items in an arbitrary order.

A dict is an unordered collection of zero or more **key–value pairs** whose keys are object references that refer to hashable objects, and whose values are object references referring to objects of any type. Dictionaries are mutable, so we can easily add or remove items, but since they are unordered they have no notion of index position and so cannot be sliced or strided. 

Dictionaries are often used to keep counts of unique items. One such example of this is counting the number of occurrences of each unique word in a file.

In [58]:
d = {'key1':'item1','a2':'item2'}

In [59]:
d

{'key1': 'item1', 'a2': 'item2'}

In [60]:
d['key1']

'item1'

In [ ]:
# See later how to work with dictionaries (methods)

### Sets

A set is an unordered collection of zero or more object references that refer to hashable objects. Sets are mutable, so we can easily add or remove items, but since they are unordered they have no notion of index position and so cannot be sliced or strided.

In [61]:
a = {1,2,3}

In [62]:
print(a)

{1, 2, 3}

In [63]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

# Operators

## Comparison Operators

Python provides the standard set of **binary comparison operators**, with the expected semantics: < less than, <= less than or equal to, == equal to, != not equal to, >= greater than or equal to, and > greater than. These operators compare object values, that is, the objects that the object references used in the comparison refer to.

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [47]:
1 == 1

True

In [64]:
'hi' == 'bye'

False

## Logical Operators

One of the fundamental features of any programming language is its **logical operations**. Python provides three logical operators: and, or, and not. They return the operand that determined the result—they do not return a Boolean (unless they actually have Boolean operands).

In [49]:
(1 > 2) and (2 < 3)

False

In [50]:
(1 > 2) or (2 < 3)

True

In [51]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [52]:
a = 1 
not(a)

False

In [ ]:
# xor

# Control Flow Statements
The flow of control can be diverted by a function or method call or by a control structure, such as a **conditional branch** or a **loop statement**.

## if, elif, else Conditionals 


    if boolean_expression1:
        suite1
    
    elif boolean_expression2:
        suite2
        ...
    
    elif boolean_expressionN:
        suiteN
    
    else:
        else_suite
    
    
***Python uses indentation to signify its block structure!!!***

In [ ]:
if a == 10: 
    a + 1 
a = a + b

In [66]:
if 1 < 2:
    print('Yes!')

Yes!

In [67]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [68]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [69]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

## for Loops

Python’s for loop reuses the **in** keyword (which in other contexts is the membership
operator), and has the following syntax:

    for variable in iterable:
        work with variable here

Iterable is a collection type variable. 

Example: 

    for country in ["Denmark", "Finland", "Czech Republic", "Sweden"]:
     
         print(country)

In [70]:
seq = [1,2,3,4,5]

In [71]:
for item in seq:
    print(item)

1
2
3
4
5

In [55]:
for item in seq:
    print('Yes')

Yes
Yes
Yes
Yes
Yes

In [72]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [73]:
d

{'key1': 'item1', 'a2': 'item2'}

In [74]:
# iterating over a dictionary's values 

for item in d.items():
    print(item)

for k, v in d.items():
    print(k, v)

for key in d.keys():
    print(key)
    
for value in d.values():
    print(value)

('key1', 'item1')
('a2', 'item2')
key1 item1
a2 item2
key1
a2
item1
item2

In [75]:
for i in range(len(seq)):
    print(seq[i])

1
2
3
4
5

## range()

Built-in range() function **returns an iterator that provides integers**. With one integer argument, n, the iterator range() returns, producing 0, 1, …, n - 1. We could use this technique **to increment** all the numbers in a list of integers. For example:

In [69]:
range(5)

range(0, 5)

In [70]:
for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

A list comprehension is an **expression and a loop** with an **optional condition**  enclosed in brackets where the loop is used to generate items for the list, and where the condition can filter out unwanted items. The simplest form of a list comprehension is this:

    [item for item in iterable]

This will **return a list of every item in the iterable**, and is semantically no different from *list(iterable)*. Two things that make list comprehensions more interesting and powerful are that we can use expressions, and we can attach a condition—this takes us to the two general syntaxes for list comprehensions:

    [expression for item in iterable]
    [expression for item in iterable if condition]

The second syntax is equivalent to:

    temp = []
    for item in iterable:
        if condition:
            temp.append(expression)

Normally, the expression will either be or involve the item. Of course, the list comprehension does not need the temp variable needed by the *for … in* loop version.

In [76]:
# x is iterator 
x = [1,2,3,4]

In [77]:
# loop over x items and square the numbers 
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [79]:
# list comprehesnion example: 

mycl = [item**2 for item in x]
print(mycl)

[1, 4, 9, 16]

In [80]:
[item**2 for item in x if item%2 == 0]

[4, 16]

In [81]:
# code to generate the leaps list using a list comprehension.

# 1/ generate a list that has all the years in the given range
leaps = [y for y in range(1900, 1940)]
print(leaps)

[1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939]

In [82]:
# 2/ add a simple condition to get every fourth year

leaps = [y for y in range(1900, 1940) if y % 4 == 0]
print(leaps)

[1900, 1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936]

In [83]:
# 3/ finally, we have the complete version:

leaps = [y for y in range(1900, 2022)
    if (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0)]

print(leaps)

[1904, 1908, 1912, 1916, 1920, 1924, 1928, 1932, 1936, 1940, 1944, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

Using a list comprehension in this case reduced the code from four lines to two—a small savings, but one that can add up quite a lot in large projects.

## while Loops

The while statement is used to execute a suite zero or more times, the number of times depending on the state of the while loop’s Boolean expression

In [81]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

# Functions

Very often we want to do essentially **the same processing repeatedly**, but with a small difference, such as a different starting value.
Encalating suites as functions which can be parameterized by the arguments they are passed. Here is the general syntax for creating a function:

    def functionName(arguments):
        pass

        return 0

In [84]:
# comment

def my_func(param1='default'):
    """
    Docstring goes here.
    : return: ...
    """
    
    print(param1)
    
    return 0

In [85]:
my_func

In [86]:
my_func()

default

0

In [87]:
my_func('new param')

new param

0

In [89]:
my_func(param1='new param2')

new param2

0

In [90]:
def square(x):
    return x**2

In [91]:
out = square(2)

In [92]:
print(out)

4

## Lambda expressions

Lambda functions (**one line functions**) are functions created using the following syntax: 

    lambda parameters: expression
    

The parameters are optional, and if supplied they are normally just **comma separated variable names**, that is, positional arguments, although the complete argument syntax supported by def statementscan be used. The expression **cannot contain branches or loops**. 
When a lambda function is called it returns the result of computing the expression as its result. If the expression is a tuple it should be enclosed in parentheses.

Here is a simple lambda function for adding an s (or not) depending on whether its argument is 1:

    s = lambda x: "" if x == 1 else "s"

The lambda expression **returns an anonymous function which we assign to the
variable s**.

Lambda functions are expressions, so they can be created at their point of use; however, they are much more limited than normal functions.

Compare: 

    def area(b, h):
        return 0.5 * b * h
      
      
    area = lambda b, h: 0.5 * b * h

In [93]:
def times2(var):
    return var*2

In [94]:
times2(2)

4

In [95]:
t2 = lambda var: var*2

In [96]:
t2(2)

4

## Methods

Essentially, a method is simply **a function that is called for a particular object**. For example, the list type has an append() method, so we can append an object to a list like this:

    >>> x = ["zebra", 49, -879, "aardvark", 200]
    >>> x.append("more")
    >>> x
    ['zebra', 49, -879, 'aardvark', 200, 'more']


Python OOP: classes encapsulate both data and the methods that can be applied to that data. For example, the str class holds a string of Unicode characters as its data and supports methods such as str.upper().

In [97]:
st = 'hello my name is Sam'

In [98]:
st.lower()

'hello my name is sam'

In [99]:
st.upper()

'HELLO MY NAME IS SAM'

In [102]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Our Planet Earth! #Earth'

In [105]:
tweet.split('#')

['Our Planet Earth! ', 'Earth']

In [106]:
tweet.split('#')[1]

'Earth'

In [107]:
d

{'key1': 'item1', 'a2': 'item2'}

In [108]:
d.keys()

dict_keys(['key1', 'a2'])

In [109]:
d.items()

dict_items([('key1', 'item1'), ('a2', 'item2')])

In [110]:
d.values()

dict_values(['item1', 'item2'])

In [111]:
lst = [1,2,3]

In [112]:
lst.pop()

3

In [113]:
lst

[1, 2]

In [114]:
'x' in [1,2,3]

False

In [115]:
'x' in ['x','y','z']

True

In [116]:
# The dictionary's methods 

d.items()
d.keys()
d.values()
d.update()

# Search for more in help and test!

## So far all!